
.App-header {
  background-image: linear-gradient(-90deg, #0224ac,  #29016a);
  height: 120px;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/*  */

.App-title {
  font-size: 3em;
  text-decoration: underline;
}
